<% content_for :title, "Editing athlete" %>

<h1>Editing athlete</h1>

<%= render "form", athlete: @athlete %>

<br>

<div>
  <%= link_to "Show this athlete", @athlete %> |
  <%= link_to "Back to athletes", athletes_path %>
</div>
